<div >
  <h1>Login</h1>

   <div >   
       <form >
        <table>
              <tr>
                <td><label>Email:</label></td>
                <td> 
                  <input type="email" name="userEmail" 
                         required  pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$" />
              </tr>
              <tr>
                <td><label>Password:</label></td>
                <input type="password" name="userPassword" required />
              
              </tr>   
              <tr>
                  <td><button type="submit" > Submit</button> </td>
              </tr>
        </table>
    </form>
    </div>
</div>