<div class="container mt-4">
  <h2 class="text-center mb-4">Insert New Product</h2>

  <form #productForm="ngForm" (ngSubmit)="onSubmit(productForm)" class="card p-4 shadow-sm">

    <div class="mb-3">
      <label for="title" class="form-label">Product Title</label>
      <input type="text" id="title" class="form-control" name="title"   required  placeholder="Enter product title"
        [(ngModel)]="product.title" />
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea id="description" class="form-control" name="description" [(ngModel)]="product.description" rows="3" placeholder="Enter product description"  class="form-control"></textarea>
    </div>

    <div class="mb-3">
      <label for="imageurl" class="form-label">Image URL</label>
      <input type="text" id="imageurl" class="form-control" name="imageurl" [(ngModel)]="product.imageurl" placeholder="Paste image link" />
    </div>

    <div class="mb-3">
      <label for="likes" class="form-label">Likes</label>
      <input type="number"  id="likes"  class="form-control"  name="likes"  [(ngModel)]="product.likes" min="0">
    </div>

    <button type="submit" class="btn btn-primary w-100" [disabled]="!productForm.valid">Save Product</button>
  </form>

</div>
